body{
	background: #E0E0E0;
}

#frame{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	background: #E3F1FF;
	width: 796px;
	box-shadow: 3px 3px 10px 0px black;
}

header{
	height: 220px;

}

#logo{
	position: relative;
	float: left;
	left: 40px;
	top: 32px;
}

#tittel{
	position: relative;
	float: left;
	margin: 0;
	top: 50px;
	left: 100px;
	font-size: 60px;
	color: #9EB728;
	text-shadow: 1px 1px 1px black;
}

#undertittel{
	position: relative;
	float: left;
	margin: 0;
	top: 135px;
	left: 0px;
	font-size: 30px;
	color: #9EB728;
	text-shadow: 1px 1px 1px black;
}

body nav div{
	float: left;
	border: 2px solid #9EB728;
	border-right: 0;
	background: #ECEDA2;
	color: #9EB728;
	height: 45px;
	width: 157px;
	text-align: center;
	padding-top: 15px;
	font-size: 20px;
	text-shadow: 1px 1px 1px black;
	box-shadow: 0px 0px 12px #9EB728 inset;
	cursor: pointer;
}

body nav div:hover{
	background: #9EB728;
	color: #ECEDA2;
}

#pt{
	padding-top: 8px;
	height: 52px;
	font-size: 18px;
}

#om{
	border-right: 1px solid black;
}

#content{
	min-height: 800px;
}

footer{
	position: relative;
	width: 794px;
	height: 40px;
	border: 1px solid #9EB728;
	background: #ECEDA2;
	box-shadow: 0px 0px 10px #9EB728 inset;

}

#minilogo{
	display: block;
	position: relative;
	top: 11px;
	margin-left: auto;
	margin-right: auto;
}

#ttest{
	width: 100px;
	height: 1000px;
	background: purple;
	margin: 0 auto;
}
