.logo{
	width: 270px;
	float: left;
	margin-top: -8px;
}

body{
	background-color: grey;
	font-family: arial;
}

header{
	background: white;
	width: 820px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
	box-shadow: 5px 5px 6px 0px black;
}

.overskrift{
	width: 500px;
	margin-left: 310px;
}

#content{
	background: white;
	width: 820px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 6px 0px black;

}

dt{
	font-weight: bold;
}

a{
	text-decoration: none;
	color: black;
}

h3{
	text-decoration: underline;
	margin: 20px;
	margin-left: 0px;
}

h4{
	margin: 10px;
	margin-left: 25px;
}

h5{
	margin: 10px;
	margin-left: 50px;
	clear: both;
}

p{
	margin: 5px;
	margin-left: 25px;
	margin-right: 25px;
	clear: both;
}

hr{
	margin: 40px;
}

figure{
	text-align: center;
	font-size: 12px;
}

figure img{
	box-shadow: 1px 1px 3px black;
}

.fullLength{
	width: 750px;
}

#lynx{
	width: 400px;
}

#logo1{
	margin-left: 80px;
}

.logoer{
	width: 300px;
	float: left;
	margin: 20px;
}

.logoer img{
	width: 300px;
}

#fargekart img{
	width: 400px;
}

p a{
	text-decoration: underline;
}