.logo{
	width: 270px;
	float: left;
	margin-top: -4px;
}

body{
	background-color: grey;
	font-family: arial;
}

header{
	background: white;
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
	box-shadow: 5px 5px 6px 0px black;
}

.overskrift{
	width: 500px;
	margin-left: 310px;
}

#content{
	background: white;
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 6px 0px black;

}

dt{
	font-weight: bold;
}
