body{
	background: #E0E0E0;
}

#bakgrunn{
	min-height: 100%;
 	min-width: 1024px;
	width: 100%;
	height: auto;
 	position: fixed;
 	top: 0;
 	left: 0;
 	z-index: -100;
}
#superhemmelig{
	width: 40px;
	height: 60px;
	position: fixed;
	top: 30px;
	left: 25px;
}

#frame{
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 40px;
	background: #E3F1FF;
	width: 796px;
	box-shadow: 3px 3px 10px 0px black;
}
header{
	height: 111px;
	position: relative;
}

#logo{
	position: absolute;
	float: left;
	left: 45px;
	top: -75px;
}


#undertittel{
	position: relative;
	float: left;
	margin: 0;
	top: 54px;
	left: 341px;
	font-size: 30px;
	color: #9EB728;
}

div .clickable a{ /* Makes the hyperlinks fill the divs*/
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-decoration:none;
	z-index:10;
}

#hovednavigering{
	background: #9EB728;
	width: 796px;
	height: 63px;
}

#hovednavigering div{
	width: 157px;
	position: relative;
	float: left;
	border: 2px solid #9EB728;
	border-right: 0;
	background: #ECEDA2;
	height: 45px;
	text-align: center;
	padding-top: 15px;
	font-size: 20px;
	box-shadow: 0px 0px 12px #9EB728 inset;
	cursor: pointer;
	font-family: "Gill Sans";
}

#hovednavigering div a{
	color: #9EB728;  /* Dette er fargen på de store knappene */
	font-size: 20px;
	padding-top: 15px;
	position:absolute;
	width:100%;
	height:44px;
	top:0;
	left:0;
	text-decoration:none;
	z-index:10;
}

#hovednavigering #pt{
	padding-top: 8px;
	height: 52px;
	font-size: 18px;
}

#hovednavigering #om{
	border-right: 1px solid #9EB728;
}

#hovednavigering .undersideNav{

	visibility: hidden;
	width: 796px;
	border: 0px;
	padding-top: 0px;
	height: 10px;
}

#hovednavigering .undersideNav #hvorsiste{
	border-right: 2px solid #9EB728;
}

#hovednavigering .undersideNav div{
	visibility: visible;
	margin: 0px;
	height: 24px;
	font-size: 16px;
	padding-top: 6px;
	background: #9EB728;
	color: #ECEDA2;
	box-shadow: 0px 0px 6px #ECEDA2 inset;
}

#hovednavigering .undersideNav div a{
	font-size: 16px;
	color: #ECEDA2;
	padding-top: 6px;
}

#ptlink{
	margin-top: -4px;
	line-height: 20px;
}

#hovednavigering .undersideNav #trenerne{
	border-right: 2px solid #9EB728;
}

#hovednavigering .undersideNav .undersideSisteKnapp{
	border-right: 1px solid #9EB728;
}

#treningsNav{
	display: none;
	left: -2px;
	top: 45px;
}

#kostholdsNav{
	display: none;
	left: -161px;
	top: 45px;
}

#ptNav{
	display: none;
	left: -320px;
	top: 52px;
}

#content{
	min-height: 600px;
	padding: 20px;
	padding-top: 40px;
	position: static;
}

#content p{
	position: static;
	margin-left: 20px;
	margin-right: 20px;
}

footer{
	position: relative;
	width: 794px;
	height: 40px;
	border: 1px solid #9EB728;
	background: #ECEDA2;
	box-shadow: 0px 0px 10px #9EB728 inset;

}

#minilogo{
	display: block;
	position: relative;
	top: 11px;
	margin-left: auto;
	margin-right: auto;
}

.marginSide{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
}


h2{
	text-align:center;
}

/* css for karusellen */
.kar *{
	margin: 0;
	padding: 0;
}

.kar{
	position: relative;
}

.kar div{
	position: absolute;
} 

.kar #alpha, #beta, #gamma, #delta{
	width: 200px;
	height: 200px;
	top: 20px;
}

.kar #alpha{
	z-index: 2;
	left: 10px;
}

.kar #beta{
	z-index: 6;
	left: 175px;
	top: 10px;
}

.kar #gamma{
	z-index: 3;
	left:370px;
}

.kar #delta{
	z-index: 1;
	left: 170px;
}

.kar #ramme p{
	z-index: 20;
	position: relative;
	display: none;
}

.kar li{
	display:block;
	float:left;
}
 /*sentrerer menyen*/
.kar #ramme{
	left:88px;
	height: 400px;
	width: 600px;
	overflow: hidden;
}

.kar #tilbake, #neste{
	background-color: rgba(240,240,240,0.5);
	position: absolute;
	height:200px;
	width:180px;
	top:20px;
}

.kar #tilbake{
	left:10px;
	z-index:5;
}

.kar #neste{
	left:390px;
	z-index:5;
}

.kar div img, p {
	position: absolute;
	top:0;
	left:0;
}

.kar img{
	height: 200px;
	width: 200px;
}
/* css for treningssider*/
.treningssider ul{
	margin: 40px;
}

.treningssider img, .overlay {
	height: 200px;
	width: 200px;
}

.treningssider li{
	position:relative;
	float:left;
	list-style:none;	
}

.treningssider .overlay{
	position:absolute;
	right:0;
	top:0;
	background-color:rgba(220,220,220,0.7);
	display:none;
}

.treningssider p{
	margin: 10px;
	color: white;
	font-family: "Gill Sans", sans-serif;
	overflow: hidden;
}

/* Oppskrifter med undersider*/

.oppskrifter{
	height: 1800px;
}

.oppskrifter #oppskriftDiv
{
	margin-left: 10px;
}

.oppsk .smoothie{
	height: 4200px;
}

.oppsk ul{
	list-style: circle;
}

.smoothie img{
	width: 400px;
	clear: both !important;
/*	float: both !important;*/
}

.smoothie div{
	margin-top: 30px;
}

.oppskrift .fargefelt{
	display: block;
}

.oppskrift .overlay, #trykkher{
	height: 220px;
	width: 220px;
	background-color: rgba(240,240,240,0.5);
	position: absolute;
	top:0;
	right:0;
}

.oppskrift .overlay{
	display: none;
}

.oppskrift li{
	position: relative;	
	list-style: none;
	float: left;
	margin: 5px;
	border: thin solid black;
}

.oppskrift .tekst{
	color: white;
	font-size: 30px;
	font-family: "Gill Sans", sans-serif;
	margin: 20px;
	overflow: hidden;
	text-shadow: 1px 1px #4C4C4C;
}

.matbilde{
	width: 100%;
	padding: 10px;
	border: solid thin black;
	background-color: #eceda2;
	clear: both;
}

/* Om oss */

#omosstekst{
	margin-left: 20px;
	margin-right: 20px;
}

#bilderavoss{
	margin-left: 111px;
	height: 600px;
	margin-bottom: 40px;
}

.omossfigure{
	float: left;
	border: 3px solid #9EB728;
	padding: 8px;
	margin: 20px;
	box-shadow: 1px 1px 4px 0px black;
}

.omossfigure figcaption{
	text-align: center;
}

.omossfigure figcaption a{
	color: #1F850B;
}

.omossfigure img{
	height:200px;
	width:200px;
}

/* Om oss */