body{
	background: #E0E0E0;
}

#frame{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	background: #E3F1FF;
	width: 796px;
	box-shadow: 3px 3px 10px 0px black;
}

header{
	height: 220px;
}

#logo{
	position: relative;
	float: left;
	left: 40px;
	top: 32px;
}

#tittel{
	position: relative;
	float: left;
	margin: 0;
	top: 50px;
	left: 100px;
	font-size: 60px;
	color: #9EB728;
	text-shadow: 1px 1px 1px black;
}

#undertittel{
	position: relative;
	float: left;
	margin: 0;
	top: 135px;
	left: -20px;
	font-size: 30px;
	color: #9EB728;
	text-shadow: 1px 1px 1px black;
}

div .clickable a{ /* Makes the hyperlinks fill the divs*/
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-decoration:none;
	z-index:10;
}

#hovednavigering div{
	width: 157px;
	position: relative;
	float: left;
	border: 2px solid #9EB728;
	border-right: 0;
	background: #ECEDA2;
	color: #9EB728;
	height: 45px;
	text-align: center;
	padding-top: 15px;
	font-size: 20px;
	text-shadow: 1px 1px 1px black;
	box-shadow: 0px 0px 12px #9EB728 inset;
	cursor: pointer;
}

#hovednavigering div:hover{
	background: #9EB728;
	color: #ECEDA2;
}

#hovednavigering #pt{
	padding-top: 8px;
	height: 52px;
	font-size: 18px;
}

#hovednavigering #om{
	border-right: 1px solid #9EB728;
}

#hovednavigering .undersideNav{

	visibility: hidden;
	width: 796px;
	border: 0px;
	padding-top: 0px;
	height: 10px;
}

#hovednavigering .undersideNav div{
	visibility: visible;
	margin: 0px;
	height: 24px;
	font-size: 16px;
	padding-top: 6px;
	background: #9EB728;
	color: #ECEDA2;
	text-shadow: 0px 1px 0px black;
	box-shadow: 0px 0px 6px #ECEDA2 inset;
}

#hovednavigering .undersideNav div:hover{
	background: #ECEDA2;
	color: #9EB728;
}


#hovednavigering .undersideNav .undersideSisteKnapp{
	border-right: 1px solid #9EB728;
}

#treningsNav{
	display: none;
	left: -2px;
	top: 21px;
}

#kostholdsNav{
	display: none;
	left: -161px;
	top: 21px;
}

#ptNav{
	display: none;
	left: -320px;
	top: 9px;
}

#hovednavigering #pt #ptNav div{
	width: 263px;
}

#lenkeNav{
	display: none;
	top: 21px;
	left: -479px;
}

#hovednavigering #lenker #lenkeNav div{
	width: 793px;
}

#omNav{
	display: none;
	top: 21px;
	left: -638px;
}

#hovednavigering #om #omNav div{
	width: 395px;
	border-right: 1px solid #9EB728;

}

#content{
	min-height: 800px;
	padding: 20px;
	padding-top: 100px;
}

footer{
	position: relative;
	width: 794px;
	height: 40px;
	border: 1px solid #9EB728;
	background: #ECEDA2;
	box-shadow: 0px 0px 10px #9EB728 inset;

}

#minilogo{
	display: block;
	position: relative;
	top: 11px;
	margin-left: auto;
	margin-right: auto;
}

.marginSide{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
}

h2{
	text-align:center;
}

.treningssider img, .overlay {
	height: 200px;
	width: 200px;
}
.treningssider li{
	position:relative;
	float:left;
	list-style:none;	
}
.treningssider .overlay{
	position:absolute;
	right:0;
	top:0;
	background-color:rgba(220,220,220,0.7);
	display:none;
}
.treningssider p{
	margin: 10px;
	color: white;
	font-family: "Gill Sans", sans-serif;
	overflow: hidden;
}
