.treningssider img {
	height: 200px;
	width: 200px;
}
.treningssider .overlay{
	height: 200px;
	width: 200px;
}

.treningssider li{
	position:relative;
	float:left;
	list-style:none;	
}

.treningssider div{
	position:absolute;
	right:0;
	top:0;
	background-color: rgba(220,220,220,0.7);
}

.treningssider p{
	margin: 10px;
	color: white;
	font-family: "Gill Sans", sans-serif;
	overflow: hidden;
}

